@use './../abstracts/lengths' as l;
@use './../abstracts/colors.module' as c;

$size: l.$medium;
$size-small: $size/2;

.menu {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  transform: translate(0, calc(100% + $size-small));
  border-radius: $size-small;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility .25s, opacity .25s;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  li button {
    padding: $size-small $size;
  }

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.degrees {
  font-size: .5rem;
}