@use './../abstracts/colors' as c;
@use './../abstracts/lengths' as l;

.menu {
  position: relative;
  display: inline-block;
  
  button {
    cursor: pointer;
    width: 100%;
    padding: .5rem 1rem;
    outline: none;
    border: none;
    color: inherit;
    transition: background .25s, color .25s;

    &:hover, &:focus {
      background: var(--color);
      color: var(--button-background);
    }
  }

  .opener {
    border-radius: 99vh;
  }
}

.menu button, .container {
  background: var(--button-background);
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: .5rem;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.25s, opacity 0.25s;
  overflow: hidden;
  border-radius: .5rem;
  width: 100%;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  li + li {
    border-top: .05rem solid #000;
  }
}