@use './../abstracts/colors' as c;
@use './../abstracts/lengths' as l;

$color: c.$white-primary;
$background: c.$card-background;

.button {
  cursor: pointer;
  outline: none;
  border: none;
  color: inherit;
  transition: background .25s, color .25s;
  background: $background;
  font-weight: 700;

  &:hover, &:focus, &.active {
    background: $color;
    color: $background;
  }
}

.container {
  display: flex;
  list-style: none;
  transition: visibility 0.25s, opacity 0.25s;
  overflow: hidden;
  width: 100%;
}