@use './../abstracts/colors' as c;

.menu {
  position: relative;
  display: inline-block;
  margin: 1rem 0 0 1rem;
  
  button {
    cursor: pointer;
    width: 100%;
    background: c.$dark-primary;
    padding: .5rem 1rem;
    outline: none;
    border: none;
    color: inherit;
    transition: background .25s, color .25s;

    &:hover, &:focus {
      background: c.$white-primary;
      color: c.$dark-primary;
    }
  }

  .opener {
    border-radius: 99vh;
  }
}

.container {
  background: palevioletred;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: .5rem;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.25s, opacity 0.25s;
  overflow: hidden;
  border-radius: .5rem;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  li + li {
    border-top: .05rem solid #000;
  }
}