&.sunrise {
  --gradient: linear-gradient(#ff5f6d, #ffc371);
}

&.sunset {
  --gradient: linear-gradient(#ee0979, #ff6a00);
}

&.night {
  --gradient: linear-gradient(#232526, #414345);
  --color: #fff;
  --button-background: #000;
}

&.clear-sky {
  --gradient: linear-gradient(#2980B9, #6DD5FA, #FFFFFF);
}

&.sunset, &.sunrise, &.clear-sky {
  --color: #000;
  --button-background: #fff;
}