@use './abstracts/lengths' as l;
@use './abstracts/colors.module' as c;

@mixin card($size) {
  padding: $size;
  border-radius: $size;
  background: c.$card-background;
}

.card__small {
  @import './mixins/temp.scss';

  @include card(l.$medium);

  $height: l.$card-small-height;
  min-height: $height;
  min-width: $height;
  max-width: $height;
  margin-bottom: l.$medium;
  display: flex;
  flex-direction: column;

  span {
    margin-left: auto !important;
    transform: translate(15%, -15%);
  }

  img {
    width: $height/2 !important;
  }

  &__title {
    font-size: .66em;
    font-weight: 900;
  }

  @include temp(1.33rem);
}

.card__big {
  @include card(l.$large);
  min-height: l.$card-big-height;
  display: flex;
  flex-direction: column;
}