@use './abstracts/lengths' as l;
@use './abstracts/colors' as c;

@mixin card($size) {
  padding: $size;
  border-radius: $size;
  background: c.$card-background;
}

.card__big {
  @include card(l.$large);
  min-height: l.$card-big-height;
  display: flex;
  flex-direction: column;
}