@use './abstracts/colors.module' as c;
@use './abstracts/lengths' as l;
@import './mixins/temp.scss';

.weather {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;

  .icon {
    margin-left: auto;
    transform: l.$icon-transform;
  }

  @include temp(l.$font-xl);
} 

.date {
  display: flex;
  align-items: center;
  font-weight: 900;

  span { 
    margin-left: auto; 
    font-size: .8rem;
    opacity: .8;
    text-transform: capitalize;
    font-weight: 400;
  }
}

.location {
  display: flex;
  align-items: baseline;

  svg {
    margin-right: l.$small;
    path { stroke: c.$yellow; }
  }
}