@use './abstracts/lengths' as l;
@use './abstracts/colors.module' as c;

.container{
  margin: auto unset l.$medium unset;
  background: rgba(c.$white-primary, .1);
  backdrop-filter: blur(10px);
  padding: l.$medium;
  border-radius: l.$medium;
  border: .15rem solid var(--color);
  display: flex;
  text-align: center;
  
  div {
    flex-grow: 1; 
    position: relative;

    &:not(:last-child)::after {
      content: '';
      height: 50%;
      background: var(--color);
      opacity: .3;
      width: .1rem;
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
    }
  }
}

.dataTitle {
  font-size: .75em;
}