@use './abstracts/colors' as c;

.currentTemp {
  $size: 10rem;
  font-size: $size;
  font-weight: 900;

  display: flex;
  align-items: flex-start;

  :first-child {
    line-height: $size;
  }

  .upper {
    font-size: 2rem;
    font-weight: 400;
  }
}

.currentWeather {
  text-shadow: c.$dark-primary 0 0 10px;
}

.description {
  float: right;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: capitalize;
}

.city {
  margin-bottom: 2rem;
}