@use './abstracts/lengths' as l;
@use './abstracts/colors.module' as c;

.container {
  color: c.$white-primary;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - l.$header-height);
  overflow-y: auto;

  @media screen and (min-width: 38rem) {
    height: calc(100% - 6rem);
    min-height: inherit;
    overflow-x: hidden;
  }
}

.forecast {
  overflow: auto;
  flex-grow: 1;
  min-height: calc(l.$card-small-height * 2);
}

.weathers {
  display: flex;

  button {
    background: none;
    outline: none;
    border: none;
    color: inherit;
    font-weight: 900;
    font-size: l.$medium;
    margin-top: l.$medium;
    cursor: pointer;
    transition: color .25s, text-decoration .25s;

    &:hover, &.active{
      color: c.$yellow;
    } 

    &:focus {
      text-decoration: underline;
    }
  }

  button + button {
    margin-left: l.$medium;
  }
}