@use './abstracts/lengths' as l;
@use './abstracts/colors.module' as c;

.container {
  background: c.$dark-primary;
  color: c.$white-primary;
  min-height: 100vh;
  padding: 0 l.$medium l.$medium;
  display: flex;
  flex-direction: column;
}

.weathers {
  display: flex;

  button {
    background: none;
    outline: none;
    border: none;
    color: inherit;
    font-weight: 900;
    font-size: l.$medium;
    margin-top: l.$medium;
    cursor: pointer;
    transition: color .25s, text-decoration .25s;

    &:hover, &.active{
      color: c.$yellow;
    } 

    &:focus {
      text-decoration: underline;
    }
  }

  button + button {
    margin-left: l.$medium;
  }
}