@use './abstracts/lengths' as l;

.container {
  background: url('/assets/static/rain-day.jpg') top no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: l.$header-height l.$medium;
  display: flex;
  flex-direction: column;
}