@use './abstracts/lengths' as l;
@use './abstracts/colors.module' as c;

.container {
  background: c.$dark-primary;
  color: c.$white-primary;
  min-height: 100vh;
  padding: 0 l.$medium l.$medium;
  display: flex;
  flex-direction: column;
}